.footer {
   
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    color: #000;
  }

  .my-header {
    background-color: #6A308F;
    padding: 20px;
  }
  
  .nav-link{
    color: #ffffff;
  }

  .nav-link:hover {
    color: #EBE937 ; 
  }


  